*{
    box-sizing: border-box;
}

body{
    padding:0;
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background:rgba(0,0,0,0.2);
    
}

h1{
    background: #1d8483;
    padding:20px;
    text-align:center;
    color:white
}

section{
  display:flex;  

}
img{
    margin-bottom:20px
}
/* display text and image in a centered vertical way */

#section1{
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#section2{
    background: chocolate;
}
/*stretching items boxes to full screen using flex:1     */

.items{
    flex:1;
    background:rgb(59, 95, 163);
    margin:10px;
    padding:20px;
    text-align: center;
    color:white
}
/* display images in vertical using display flex*/

#images{
    width:fit-content;
    background: gray;
    flex-direction:column;
    align-items: flex-start;
    margin:20px;

}